# Database
DATABASE_URL=postgresql+asyncpg://evcharge:evcharge@db:5432/evcharge
DATABASE_URL_SYNC=postgresql://evcharge:evcharge@db:5432/evcharge

# Redis
REDIS_URL=redis://redis:6379/0

# NDW
NDW_LOCATIONS_URL=https://opendata.ndw.nu/charging_point_locations_ocpi.json.gz
NDW_TARIFFS_URL=https://opendata.ndw.nu/charging_point_tariffs_ocpi.json.gz
SYNC_LOCATIONS_INTERVAL_MIN=10
SYNC_TARIFFS_INTERVAL_MIN=45

# Geocoding
PHOTON_URL=https://photon.komoot.io/api/
NOMINATIM_URL=https://nominatim.openstreetmap.org/search

# Frontend
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:8000

# App
APP_NAME=paxor
TZ=Europe/Amsterdam

VITE_GOOGLE_CLIENT_ID=68193739998-fe1orapi7sv0fqlh6t161a9f82t54gm2.apps.googleusercontent.com
